{% extends "base.html" %}

{% block main %}



<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Add Food</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>
            <form action='/' method="POST">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type="text" name="food" placeholder="Enter food name">
                <button type="submit">Add</button>
            </form>
            </td>
        </tr>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row">
    {% for user in users %}
    <div class="col-md-6">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
              {{ user.name }}
            </a>
            {% for food in user.foods %}
            <a href="#" class="list-group-item list-group-item-action"> {{ food.name }} </a>
            {% endfor %}
          </div>
    </div>
    {% endfor %}
</div>


<script>
    $(document).ready(function() {
        $('[name="food"]').autocomplete({
            source: ['Apple', 'Banana', 'Cherry']
        });
    });
</script>

<script>
    $(document).ready(function() {
        $( "[name=food]" ).autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/suggest-food",
                    type: "GET",
                    data: { term: request.term },
                    dataType: "json",
                    success: function(data) {
                        response(data);
                    }
                });
            }
        });
    });
    </script>

{% endblock %}